numpy==1.15.0
PyYAML==3.13
scikit-image==0.14.0
cffi
cloudpickle
cycler
dask
decorator
imageio
kiwisolver
matplotlib
networkx
pandas
Pillow
pycparser
pygit
pyparsing
python-dateutil
pytz
PyWavelets
scikit-learn
scipy
six
toolz
torch
torchvision
tqdm
moviepy
face_alignment
gdown